@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background: #fff;
  color: hsl(209, 61%, 16%);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(209, 61%, 16%);
}

.logo {
  width: auto;
  height: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1166px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  z-index: 999;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header ul {
  display: flex;
}

header ul li {
  margin: 0 30px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
}

header ul li i {
  margin-right: 10px;
  display: none;
}

.menu-toggle {
  display: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.icons i {
  font-size: 1.2rem;
  cursor: pointer;
}

header ul.show-menu {
  left: 0;
}

.banner {
  width: 100vw;
}

.slider-container {
  padding-top: 100px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.slider-container .slide {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 1166px;
}

.slider-container .slide img {
  width: 100%;
  max-width: 100vw;
  height: auto;
}

/*
.move-container {
  position: absolute;
  top: 110px;
  left: 10px;
  transform: translate(-50%);
}

.prevBtn,
.nextBtn {
  background: transparent;
  cursor: pointer;
  font-size: 1.7rem;
  border: none;
  color: #fff;
  font-weight: 900;
}

.prevBtn:hover,
.nextBtn:hover {
  background: #009743;
}

.nextBtn {
  margin-left: 5px;
}
*/

.menu {
  padding-top: 130px;
  margin-bottom: 3rem;
}

.menu .title {
  text-align: center;
  margin-bottom: 2rem;
}

.menu .title h2 {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.underline {
  width: 20rem;
  height: 0.25rem;
  background: #ffcb0a;
  margin: 0 auto;
}

.btn-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.sub-btn-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border: none;
  font-size: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.2s linear;
}

.sub-btn {
  background: transparent;
  border: none;
  font-size: 0.9rem;
  margin: 0 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.2s linear;
}

.sub-btn.current {
  color: #009743;
}

.filter-btn:hover,
.sub-btn:hover {
  color: #009743;
}

.menu-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  gap: 3rem 3rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  justify-items: center;
}

.photo {
  object-fit: cover;
  height: 180px;
  width: auto;
}

.item-info {
  min-width: 400px;
}

.item-info .item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.item-info .item-title h4 {
  font-weight: 800;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.item-info .item-title .calories {
  font-size: 0.9rem;
  color: #009743;
}

.item-text {
  font-size: 0.9rem;
  line-height: 1.5;
}

.tip {
  padding-top: 130px;
  margin: 0 auto;
  width: 100vw;
  margin-bottom: 3rem;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2 {
  font-size: 30px;
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 800;
}

.title .title-desc {
  width: 80%;
  margin: 0 auto;
  font-weight: 500;
  word-break: keep-all;
}

.about-img {
  margin-bottom: 2rem;
  width: 500px;
  max-width: 100%;
}

.about-img img {
  object-fit: cover;
  width: 500px;
  transform: translateX(4%);
}

.about {
  background: #fff;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 90%;
}

.about-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: 0.7fr 1fr;
}

.tab-container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tab-btn:nth-child(1) {
  border-top-left-radius: 0.5rem;
}

.tab-btn:nth-child(3) {
  border-top-right-radius: 0.5rem;
}

.tab-btn {
  padding: 1rem;
  border: none;
  font-size: 0.8rem;
  display: block;
  cursor: pointer;
  letter-spacing: 0.25rem;
  color: #fff;
  background-color: #009743;
  transition: all 0.3s linear;
}

.tab-btn:hover:not(.active) {
  background: #ffcb0a;
  color: inherit;
}

.about-content {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem 1.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.content h4 {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.content span {
  display: block;
  font-weight: 700;
  font-size: 0.8rem;
  background: #ffcb0a;
  width: max-content;
  padding: 5px 10px;
  border-radius: 0.25rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

.content p {
  font-size: 0.9rem;
  line-height: 26px;
  letter-spacing: -0.04rem;
}

.content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-top: 1.5rem;
}

.content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}

.content ul li .tip-info {
  display: flex;
  margin-top: 1rem;
}

.content ul li .tip {
  background: #fff;
  font-weight: 700;
  font-size: 0.9rem;
}

.content ul li i {
  color: #ffcb0a;
  margin: 1rem 0;
}

.content ul li img {
  width: 80%;
  display: block;
}

.content ul li p {
  word-break: keep-all;
  text-align: center;
}

.content {
  display: none;
}

.tab-btn.active {
  background: #fff;
  color: #009743;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.content.active {
  display: block;
}

.event {
  padding-top: 140px;
  margin-bottom: 3rem;
  width: 100vw;
}

.event-promotion {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.event-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.event-img {
  width: 100%;
}

.event-img img {
  width: 100%;
}

.event-info {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
}

.event-info .event-term {
  color: #009743;
  font-weight: 800;
  font-size: 1rem;
}

.event-info .event-title {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.event-desc {
  font-size: 0.85rem;
}

.event-desc p {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.event-desc p span {
  color: #009743;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.event-desc p .but {
  font-size: 0.7rem;
  color: gray;
  margin-top: 5px;
  text-align: center;
}

.history {
  padding-top: 140px;
  margin-bottom: 3rem;
  width: 100vw;
}

.history .title h2 span {
  text-transform: uppercase;
}

.history .before {
  color: #ffcb0a;
}

.history .after {
  color: #009743;
}

.history-container {
  width: 610px;
  margin: 0 auto;
}

.history-container ul li {
  margin: 1rem 0;
  display: flex;
}

.history-container ul li i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  color: #ffcb0a;
}

.history-container ul li span {
  margin-right: 1rem;
  color: #009743;
  width: 40px;
}

.title.second {
  margin-top: 3rem;
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  background: #f0f0f0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

.login.show-login {
  opacity: 1;
}

.login-container {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  min-width: 440px;
  height: 70vh;
  background: #fff;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  /*
  justify-content: space-between;*/
}

.login-title {
  text-align: center;
  padding-top: 20px;
}

.login-title h2 {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.2rem;
  margin-bottom: 0.8rem;
}

.login-title p {
  font-size: 0.9rem;
  line-height: 26px;
  color: #999;
  padding: 0 10px;
  word-break: keep-all;
  letter-spacing: -0.05rem;
}

.login-form {
  margin: 3rem auto;
}

.login-form p {
  display: flex;
  width: 350px;
  justify-content: flex-start;
  align-items: center;
  border: 0.05rem solid #009743;
}

.login-form p:nth-child(2) {
  border-top: none;
}

.login-form p i {
  font-size: 1.1rem;
  margin: 0 10px;
}

.login-form p input {
  border: none;
  outline: none;
  width: 450px;
  height: 70px;
  padding: 5px 10px;
  overflow: hidden;
}

.login-footer {
  text-align: center;
}

.login-footer button {
  width: 350px;
  height: 50px;
  border: none;
  color: #fff;
  background: #009743;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: transform 80ms ease-in-out;
}

.login-footer button:active {
  transform: scale(0.98);
}

.login-footer .find {
  display: flex;
  width: 320px;
  justify-content: space-evenly;
  margin: 0 auto;
}

.login-footer .find span {
  font-size: 0.9rem;
  cursor: pointer;
}

.login-footer .find span:hover {
  color: #009743;
}

.login-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.login-close i {
  font-size: 1.5rem;
  cursor: pointer;
}

.login-close i:hover {
  color: #009743;
}

.scroll-up {
  position: fixed;
  bottom: 30px;
  right: 10px;
}

.scroll-up .scroll-top {
  font-size: 3rem;
  background: #ffcb0a;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .content ul {
    display: flex;
    flex-direction: column;
  }

  .content ul li {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.5fr;
    gap: 1rem;
    padding: 0;
  }

  .content ul li img {
    min-width: 130px;
  }

  .content ul li .tip-info {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.8rem;
  }

  .content ul li p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 960px) {
  .menu {
    width: 100vw;
    padding: 140px 100px 0 100px;
  }

  .menu-center {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 3rem 1rem;
  }

  .photo {
    height: 150px;
  }

  .tip {
    padding: 140px;
  }

  /**/
  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    width: 95%;
  }

  .about-content {
    min-width: 400px;
  }

  .content ul {
    display: flex;
    flex-direction: column;
  }

  .content ul li {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.5fr;
    gap: 1rem;
    padding: 0;
  }

  .content ul li img {
    min-width: 130px;
  }

  .content ul li .tip-info {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.8rem;
  }

  .content ul li p {
    font-size: 0.9rem;
  }

  .event-promotion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 1166px) {
  header {
    height: 100px;
    padding: 20px 50px;
  }

  header ul {
    position: fixed;
    width: 70%;
    max-width: 350px;
    height: 100vh;
    top: 100px;
    left: -120%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    background: #fff;
    padding: 3rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    transition: 0.4s;
  }

  header ul li {
    width: 100%;
    font-size: 0.9rem;
  }

  header ul li i {
    margin-right: 5px;
    display: inline-block;
  }

  .menu-toggle {
    display: inline-block;
  }

  header .logo {
    height: 100px;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1166px) {
  .menu-center {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-item {
    max-width: 20rem;
  }

  .item-info {
    width: 20rem;
    min-width: 300px;
  }
}

